.vscode/**
.vscode-test/**
node_modules/**
test/**
.gitignore

utils/**
templates/**
.github/**
.venv/**
.mypy_cache/**
.ruff_cache/**
data/**
.codespellrc
.pre-commit-config.yaml
.prettierignore
.git-blame-ignore-revs
