.vscode/**
.vscode-test/**
.vscode-test.mjs
node_modules/**
test/**
.gitignore

utils/**
templates/**
.github/**
.venv/**
.mypy_cache/**
.ruff_cache/**
data/**
syntaxes/samples/**
.codespellrc
.pre-commit-config.yaml
.prettierignore
.git-blame-ignore-revs
**/*.js.map
**/*.ts
out/test/**
tsconfig.json
src/providers/hover.json
