{
  "scopeName": "source.mf6",
  "patterns": [
    {
      "include": "#comment"
    },
    {
      "include": "#reserved"
    },
    {
      "include": "#readarrayctrl"
    },
    {
      "include": "#readarrayvar"
    },
    {
      "include": "#filehandler"
    },
    {
      "include": "#model"
    },
    {
      "include": "#ftype"
    },
    {
      "include": "#block"
    },
    {
      "include": "#keyword"
    },
    {
      "include": "#valid"
    },
    {
      "include": "#file"
    }
  ],
  "repository": {
    "comment": {
      "patterns": [
        {
          "name": "comment.mf6",
          "match": "(?<=^|\\s)(#|!|//).*"
        }
      ]
    },
    "reserved": {
      "patterns": [
        {
          "name": "keyword.control.mf6",
          "match": "(?i)(?<=^|\\s)(BEGIN|END)(?=\\s|$)"
        }
      ]
    },
    "readarrayctrl": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(CONSTANT|INTERNAL\\s{1,2}FACTOR)(?=\\s|$)"
        }
      ]
    },
    "readarrayvar": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(FACTOR|\\(BINARY\\)|IPRN)(?=\\s|$)"
        }
      ]
    },
    "filehandler": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(OPEN\\/CLOSE|FILEIN|FILEOUT)(?=\\s|$)"
        }
      ]
    },
    "model": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)(gwf6-gwf6|gwf6-gwt6|gwf6|gwt6)(?=\\s|$)"
        }
      ]
    },
    "ftype": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)({% for ftype in ftypes%}{{ ftype }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$)"
        }
      ]
    },
    "block": {
      "patterns": [
        {
          "name": "entity.name.type.mf6",
          "match": "(?i)(?<=\\bBEGIN\\s*|\\bEND\\s*)(?<=^|\\s)({% for block in blocks %}{{ block }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$)"
        }
      ]
    },
    "keyword": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s|\\[)({% for keyword in keywords %}{{ keyword }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$|\\])"
        }
      ]
    },
    "valid": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)({% for valid in valids %}{{ valid }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$)"
        }
      ]
    },
    "file": {
      "patterns": [
        {
          "name": "string.mf6",
          "match": "'.*?\\.[a-zA-Z0-9_-]+'|(?:\\b(?!\\d+\\b)|(?:\\.\\./)+)[a-zA-Z0-9_./-]+\\.[a-zA-Z0-9_-]+(?:\\.[a-zA-Z0-9_-]+)*\\b"
        }
      ]
    }
  }
}
