{
  "scopeName": "source.mf6",
  "patterns": [
    {
      "include": "#comment"
    },
    {
      "include": "#reserved"
    },
    {
      "include": "#readarrayctrl"
    },
    {
      "include": "#readarrayvar"
    },
    {
      "include": "#filehandler"
    },
    {
      "include": "#model"
    },
    {
      "include": "#package"
    },
    {
      "include": "#block"
    },
    {
      "include": "#keyword"
    },
    {
      "include": "#valid"
    }
  ],
  "repository": {
    "comment": {
      "patterns": [
        {
          "name": "comment.mf6",
          "match": "(#|!|//).*$"
        }
      ]
    },
    "reserved": {
      "patterns": [
        {
          "name": "keyword.control.mf6",
          "match": "(?i)\\b(BEGIN|END)\\b"
        }
      ]
    },
    "readarrayctrl": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)\\b(CONSTANT|INTERNAL\\s{1,2}FACTOR)\\b"
        }
      ]
    },
    "readarrayvar": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(FACTOR|\\(BINARY\\)|IPRN)(?=\\W|$)"
        }
      ]
    },
    "filehandler": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)\\b(OPEN\\/CLOSE|FILEIN|FILEOUT)\\b"
        }
      ]
    },
    "model": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)\\b(gwf6|gwt6|gwf6-gwf6|gwf6-gwt6)\\b"
        }
      ]
    },
    "package": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)\\b(disv6|uzt6|uzf6|mst6|csub6|disu6|lkt6|sft6|oc6|sto6|gnc6|obs6|ssm6|mvt6|wel6|npf6|src6|sfr6|drn6|dis6|mvr6|mwt6|chd6|buy6|adv6|riv6|maw6|evt6|cnc6|ghb6|hfb6|fmi6|lak6|ic6|dsp6|rch6|ist6)\\b"
        }
      ]
    },
    "block": {
      "patterns": [
        {
          "name": "entity.name.type.mf6",
          "match": "(?i)(?<=\\bBEGIN\\s*|\\bEND\\s*)\\b({% for block in blocks %}{{ block }}{% if not loop.last %}|{% endif %}{% endfor %})\\b"
        }
      ]
    },
    "keyword": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)\\b({% for keyword in keywords %}{{ keyword }}{% if not loop.last %}|{% endif %}{% endfor %})\\b"
        }
      ]
    },
    "valid": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)\\b({% for valid in valids %}{{ valid }}{% if not loop.last %}|{% endif %}{% endfor %})\\b"
        }
      ]
    }
  }
}
