{
  "scopeName": "source.mf6",
  "patterns": [
    {
      "include": "#comment"
    },
    {
      "include": "#reserved"
    },
    {
      "include": "#readarrayctrl"
    },
    {
      "include": "#readarrayvar"
    },
    {
      "include": "#filehandler"
    },
    {
      "include": "#model"
    },
    {
      "include": "#package"
    },
    {
      "include": "#block"
    },
    {
      "include": "#keyword"
    },
    {
      "include": "#valid"
    },
    {
      "include": "#file"
    }
  ],
  "repository": {
    "comment": {
      "patterns": [
        {
          "name": "comment.mf6",
          "match": "(?<=^|\\s)(#|!|//).*"
        }
      ]
    },
    "reserved": {
      "patterns": [
        {
          "name": "keyword.control.mf6",
          "match": "(?i)(?<=^|\\s)(BEGIN|END)(?=\\s|$)"
        }
      ]
    },
    "readarrayctrl": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(CONSTANT|INTERNAL\\s{1,2}FACTOR)(?=\\s|$)"
        }
      ]
    },
    "readarrayvar": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(FACTOR|\\(BINARY\\)|IPRN)(?=\\s|$)"
        }
      ]
    },
    "filehandler": {
      "patterns": [
        {
          "name": "entity.other.attribute-name.mf6",
          "match": "(?i)(?<=^|\\s)(OPEN\\/CLOSE|FILEIN|FILEOUT)(?=\\s|$)"
        }
      ]
    },
    "model": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)(gwf6-gwf6|gwf6-gwt6|gwf6|gwt6)(?=\\s|$)"
        }
      ]
    },
    "package": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)(adv6|buy6|chd6|cnc6|csub6|dis6|disu6|disv6|drn6|dsp6|evt6|fmi6|ghb6|gnc6|hfb6|ic6|ist6|lak6|lkt6|maw6|mst6|mvr6|mvt6|mwt6|npf6|obs6|oc6|rch6|riv6|sfr6|sft6|src6|ssm6|sto6|uzf6|uzt6|wel6)(?=\\s|$)"
        }
      ]
    },
    "block": {
      "patterns": [
        {
          "name": "entity.name.type.mf6",
          "match": "(?i)(?<=\\bBEGIN\\s*|\\bEND\\s*)(?<=^|\\s)({% for block in blocks %}{{ block }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$)"
        }
      ]
    },
    "keyword": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s|\\[)({% for keyword in keywords %}{{ keyword }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$|\\])"
        }
      ]
    },
    "valid": {
      "patterns": [
        {
          "name": "entity.name.function.mf6",
          "match": "(?i)(?<=^|\\s)({% for valid in valids %}{{ valid }}{% if not loop.last %}|{% endif %}{% endfor %})(?=\\s|$)"
        }
      ]
    },
    "file": {
      "patterns": [
        {
          "name": "string.mf6",
          "match": "'.*?\\.[a-zA-Z0-9_-]+'|(?:\\b(?!\\d+\\b)|(?:\\.\\./)+)[a-zA-Z0-9_./-]+\\.[a-zA-Z0-9_-]+(?:\\.[a-zA-Z0-9_-]+)*\\b"
        }
      ]
    }
  }
}
