{
  "name": "mf6-syntax",
  "displayName": "MODFLOW 6 Syntax",
  "version": "0.4.0",
  "description": "Provides rich language features for MODFLOW 6",
  "categories": [
    "Other"
  ],
  "keywords": [
    "mf6",
    "modflow6"
  ],
  "homepage": "https://github.com/martclanor/vscode-mf6-syntax/blob/main/README.md",
  "bugs": {
    "url": "https://github.com/martclanor/vscode-mf6-syntax/issues"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/martclanor/vscode-mf6-syntax.git"
  },
  "license": "MIT",
  "publisher": "mart-clanor",
  "main": "./out/extension.js",
  "scripts": {
    "dfn:download": "utils/download-dfn.sh",
    "lockfile:check": "utils/check-lockfile.sh",
    "grammar:test": "vscode-tmgrammar-snap syntaxes/samples/*",
    "grammar:update": "vscode-tmgrammar-snap --updateSnapshot syntaxes/samples/*",
    "prettier:check": "prettier --check .",
    "prettier:format": "prettier --write .",
    "eslint": "eslint .",
    "compile:ts": "tsc -p ./",
    "pretest": "npm run compile:ts",
    "test": "vscode-test",
    "package": "vsce package",
    "publish": "vsce publish"
  },
  "contributes": {
    "commands": [
      {
        "command": "mf6-syntax.mf6-ify",
        "title": "Set language to MF6",
        "category": "MF6 Syntax"
      },
      {
        "command": "mf6-syntax.goToParent",
        "title": "Go to Parent File",
        "category": "MF6 Syntax"
      }
    ],
    "configuration": {
      "type": "object",
      "title": "MF6 Syntax Configuration",
      "properties": {
        "mf6Syntax.maxFileSizeMB": {
          "type": "number",
          "default": 50,
          "description": "The maximum file size (in MB) that can be opened through the extension."
        }
      }
    },
    "grammars": [
      {
        "language": "mf6",
        "scopeName": "source.mf6",
        "path": "./syntaxes/mf6.tmLanguage.json"
      },
      {
        "language": "mf6-lst",
        "scopeName": "source.mf6-lst",
        "path": "./syntaxes/mf6-lst.tmLanguage.json"
      }
    ],
    "languages": [
      {
        "id": "mf6",
        "aliases": [
          "MODFLOW 6"
        ],
        "extensions": [
          {% for ext in extensions %}"{{ ext }}"{% if not loop.last %},
          {% endif %}{% endfor %}
        ],
        "configuration": "./language-configuration.json",
        "icon": {
          "dark": "images/icon.svg",
          "light": "images/icon.svg"
        }
      },
      {
        "id": "mf6-lst",
        "aliases": [
          "MODFLOW 6 Output List File"
        ],
        "extensions": [
          ".lst"
        ],
        "configuration": "./language-configuration-lst.json",
        "icon": {
          "dark": "images/icon.svg",
          "light": "images/icon.svg"
        }
      }
    ],
    "snippets": [
      {
        "language": "mf6",
        "path": "./snippets/mf6-snippets.json"
      }
    ]
  },
  "devDependencies": {
    "@eslint/js": "^9.36.0",
    "@types/node": "^24.5.2",
    "@types/vscode": "^1.104.0",
    "@vscode/test-cli": "^0.0.11",
    "@vscode/test-electron": "^2.5.2",
    "@vscode/vsce": "^3.6.2",
    "eslint": "^9.36.0",
    "prettier": "^3.6.2",
    "typescript": "^5.9.2",
    "typescript-eslint": "^8.44.1",
    "vscode-test": "^1.6.1",
    "vscode-tmgrammar-test": "^0.1.3"
  },
  "overrides": {
    "prebuild-install": {
      "tar-fs": "2.1.4"
    }
  },
  "engines": {
    "vscode": "^1.104.0"
  },
  "icon": "images/icon.png"
}
